
.container {
	max-width: 1280px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;

	.container_main {
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;

		.heding {
			color: aqua;
		}

		.textarea {
			width: 80%;
			margin-bottom: 20px;
		}

	}
}

.container_keyboard {
	margin: 0 auto;
	display: grid;
	justify-content: center;
	align-items: center;

	grid-template-columns: repeat(15, 50px);
	gap: 5px;
	color: white;

		.item {
			background-color: rgb(37, 31, 39);
			min-height: 20px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			transition: .5s;
		}

		.item:hover {
			background-color: rgb(90, 79, 94);
			cursor: pointer;
		}

		.item:nth-child(14), .item:nth-child(42), .item:nth-child(55), .item:nth-child(68) {
			grid-column: 14 / 16;
		}

		.item:nth-child(30), .item:nth-child(43), .item:nth-child(56) {
			grid-column: 1 / 3;
		}

		.item:nth-child(59) {
			grid-column: 5 / 11;
		}

		.keyRus, .keyRusUp, .keyEngUp {
			display: none;
		}

		.rus {
			display: none;

			.normal, .shift_down, .caps_lock_down_up, .caps_lock_down_up_shift_down {
				display: none;
			}
		}

		.eng {
			.shift_down, .caps_lock_down_up, .caps_lock_down_up_shift_down {
				display: none;
			}
		}

		
}